* {
    font-family: sans-serif;
}
main {
    display: flex;
    gap: 5px;
}
main > * {
    width: min-content;
}

p, label {
    width: max-content !important;
}

body {
    padding: 10px;
}

label {
    text-align: center;
}